<div ng-init="showAnswers = false">
	<div ng-hide="showAnswers" class="row">
		<div class="col-md-12">
			<h3>Ask a question</h3>
			<form ng-submit="QuestionsFactory.addQuestion()" class="form-inline" role="form">
				<div class="form-group">
					<textarea class="form-control" rows="5" cols="50" id="user_question" ng-model="QuestionsFactory.questionText" placeholder="Enter a question" required></textarea><br />
					<label for="question_category">Select a category for your question</label><br>
					<select ng-init="QuestionsFactory.questionCategory = categories[0]" class="form-control" ng-model="QuestionsFactory.questionCategory" id="question_category" required>
						<option  ng-repeat="cat in categories" required>{{ cat }}</option>
					</select><br />
				</div>
				<br> <button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
</div>
<div ng-show="questions.length">
	<h1>Questions Asked</h1>
		<span ng-click="showAnswers = true">
			<h5 ng-repeat="item in questions">
				<a ui-sref='questions.answers({ questionId: item.id})'>{{ '"' + cutString(item.text) }}{{ item.text.length > 25 ? '..."':'"' }}</a>
			</h5>
		</span>
</div>
<div ui-view></div>
<!-- BACK BUTTON shows up when question.answers view renders -->
<span ng-click="showAnswers = false" ng-show="showAnswers">
	<button>Back</button>
</span>
